.header
    background-color: #090F21
    padding: 21px 0

.navbar
    list-style: none
    &-item

    &-content
        display: none

    a, span
        display: block
        color: white
        padding: 12px 17px
        font-size: 16px
        font-weight: normal

    span
        position: relative
        z-index: 1
        padding-right: 40px
        cursor: pointer
        &::after
            content: ''
            display: inline-block
            width: 8px
            height: 8px
            border-bottom: 1px solid #fff
            border-right: 1px solid #fff
            position: absolute
            top: 45%
            right: 25px
            transition: all ease .3s
            transform-origin: 50% 50%
            transform: rotate(45deg) translateY(-70%)

    &-dropdown
        &:hover
            span
                &::after
                    right: 18px
                    transform: rotate(225deg) translateY(-20%)
